<web-app>

	<display-name>
		Captcha as a Graphical Password
	</display-name>

	<!-- User Info -->


	<servlet>
		<servlet-name>NewUser</servlet-name>
		<servlet-class>com.User.NewUser</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>NewUser</servlet-name>
		<url-pattern>/NewUser</url-pattern>
	</servlet-mapping>

	

<servlet>
		<servlet-name>PasswordImageSet</servlet-name>
		<servlet-class>com.Admin.PasswordImageSet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PasswordImageSet</servlet-name>
		<url-pattern>/PasswordImageSet</url-pattern>
	</servlet-mapping>


<servlet>
		<servlet-name>PasswordImageSet1</servlet-name>
		<servlet-class>com.Admin.PasswordImageSet1</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PasswordImageSet1</servlet-name>
		<url-pattern>/PasswordImageSet1</url-pattern>
	</servlet-mapping>

<servlet>
		<servlet-name>PasswordImageSet2</servlet-name>
		<servlet-class>com.Admin.PasswordImageSet2</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PasswordImageSet2</servlet-name>
		<url-pattern>/PasswordImageSet2</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.User.Login</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>

	
	<servlet>
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>com.Admin.AdminLogin</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/AdminLogin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteAccountDetails</servlet-name>
		<servlet-class>com.Admin.DeleteAccountDetails</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeleteAccountDetails</servlet-name>
		<url-pattern>/DeleteAccountDetails</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateAccountDetails</servlet-name>
		<servlet-class>com.Admin.UpdateAccountDetails</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UpdateAccountDetails</servlet-name>
		<url-pattern>/UpdateAccountDetails</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteBranchDetails</servlet-name>
		<servlet-class>com.Admin.DeleteBranchDetails</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeleteBranchDetails</servlet-name>
		<url-pattern>/DeleteBranchDetails</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>AddBranchDetails</servlet-name>
		<servlet-class>com.Admin.AddBranchDetails</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddBranchDetails</servlet-name>
		<url-pattern>/AddBranchDetails</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddAccountDetails</servlet-name>
		<servlet-class>com.Admin.AddAccountDetails</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddAccountDetails</servlet-name>
		<url-pattern>/AddAccountDetails</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateBranchDetails</servlet-name>
		<servlet-class>com.Admin.UpdateBranchDetails</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UpdateBranchDetails</servlet-name>
		<url-pattern>/UpdateBranchDetails</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>adminchangepwdaction</servlet-name>
		<servlet-class>com.Admin.adminchangepwdaction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>adminchangepwdaction</servlet-name>
		<url-pattern>/adminchangepwdaction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SignOut</servlet-name>
		<servlet-class>com.Admin.SignOut</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SignOut</servlet-name>
		<url-pattern>/SignOut</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RegisterBenificiary</servlet-name>
		<servlet-class>com.User.RegisterBenificiary</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RegisterBenificiary</servlet-name>
		<url-pattern>/RegisterBenificiary</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateDetails</servlet-name>
		<servlet-class>com.Admin.UpdateDetails</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UpdateDetails</servlet-name>
		<url-pattern>/UpdateDetails</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ConfirmBenificiary</servlet-name>
		<servlet-class>com.User.ConfirmBenificiary</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ConfirmBenificiary</servlet-name>
		<url-pattern>/ConfirmBenificiary</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ConfirmOrRejectBenificiary</servlet-name>
		<servlet-class>com.User.ConfirmOrRejectBenificiary</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ConfirmOrRejectBenificiary</servlet-name>
		<url-pattern>/ConfirmOrRejectBenificiary</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MakePaymentToBenificiary</servlet-name>
		<servlet-class>com.User.MakePaymentToBenificiary</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MakePaymentToBenificiary</servlet-name>
		<url-pattern>/MakePaymentToBenificiary</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>PasswordSetUser1</servlet-name>
		<servlet-class>com.User.PasswordSetUser1</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PasswordSetUser1</servlet-name>
		<url-pattern>/PasswordSetUser1</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PasswordSetUser2</servlet-name>
		<servlet-class>com.User.PasswordSetUser2</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PasswordSetUser2</servlet-name>
		<url-pattern>/PasswordSetUser2</url-pattern>
	</servlet-mapping>

<servlet>
		<servlet-name>PasswordSetUser3</servlet-name>
		<servlet-class>com.User.PasswordSetUser3</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PasswordSetUser3</servlet-name>
		<url-pattern>/PasswordSetUser3</url-pattern>
	</servlet-mapping>


</web-app>